# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/
ha-venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Home Assistant
.storage/
*.log

# Local configs
secrets.yaml

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/
